<a href="https://colab.research.google.com/github/nikhil2020/Resume/blob/master/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello_World")

Hello_World

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df = pd.read_csv('/content/drive/My Drive/history_rental.csv')

In [6]:
df.head()

   Unnamed: 0  ... Unnamed: 2
0           0  ...        NaN
1           1  ...        NaN
2           2  ...        NaN
3           3  ...        NaN
4           4  ...        NaN

[5 rows x 4 columns]